bentoml~=1.4.28
pytz~=2024.2
pandas~=2.3.3
xgboost~=3.1.1
psutil~=7.1.1
onnx~=1.19.1
PyYAML~=6.0.3
joblib~=1.4.2
lightgbm~=4.3.0
catboost~=1.2.8
numpy~=1.26.4
sklearn2pmml~=0.123.1
scikit-learn~=1.3.2
requests~=2.31.0
Faker~=25.0.1
python-dateutil~=2.9.0.post0
pydantic
tqdm
selenium
matplotlib
graphviz
seaborn
scipy
networkx
statsmodels
toad
imbalanced-learn
scorecardpy
scorecardpipeline
missingno
category-encoders
shap
openfe
optuna
optbinning
monotonic-binning
feature-engine
pypmml
pycm


